# Build
build/
bin/
tools/
MSToolkit/lib/

# Runtime / generated outputs
results/
output/
*.log

# Proteomics data
*.raw
*.RAW
*.ft1
*.FT1
*.ft2
*.FT2
*.mzML

# Python
__pycache__/
*.pyc

# IDE
.vscode/
.idea/

# OS
.DS_Store

# test
test/
test_output/
experiments/
build-debug/
build-profile/

# data resources
raw/
script33/
